name: Publish

on:
  workflow_run:
    workflows: ["Publish Assets"]
    types: [completed]

permissions:
  id-token: write # Required for OIDC
  contents: read # Required for checking out code

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: main

      - name: Setup mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v2
        with:
          experimental: true

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Publish to npm
        run: pnpm publish
